
body{background:black }
h1{ color: aliceblue; font-family: "Playfair Display", serif; text-align: center;}
p{color: aliceblue; text-align: center;}
img{border: 5px solid gold; width: 100%;}
div{ width:50%; margin-left:25%;}
p{font-size: 1.5rem;}